############################
# NPM files
############################
**/node_modules
**/bower_components
node_modules
.history
bower_components
npm-debug.log

############################
# Temp files
############################
hpmfile.json
temp
tmp
.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.log.*
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*


############################
# Editor & OS files
############################
.idea
.DS_STORE
.DS_Store
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
nbproject


############################
# Report files
############################
coverages
coverage
reports
lib-cov
html-report
nohup.out
out
logs
.ci
test-results

# ESLint cache file
.eslintcache


############################
# Other
############################
.happypack
dist
build
.node_history
.svn
**/tms
.nodejs-cache
.node-diamond-client-cache
node_hsf_config_snapshots
run
_dist
_package
yarn.lock
